{% extends 'template.html' %}
{% block style %}
    <link  rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <!--작성화면-->
    <div class="main">
        <div class="info">
            <a class="title">이력서 / Resume</a>
            <button class="new"><a onclick="window.location.href='/chat'">+ 새 이력서 </a></button> <!--이력서 생성 기능 추가-->
        </div>
        <hr class="vertical">
        <!--이력서 목록-->
        <div class="content">
            <div class="files">
                <div class="file"> <!--개별 파일-->
                    <button class="pdf"> <!--파일 저장 기능 추가-->
                        <a>PDF</a>
                        <img src="{{ url_for('static', filename='src/pdf.png') }}">
                    </button>
                    <a class="date">2023.08.28</a>
                    <a class="name">김제니 Data analyst 이력서</a> <!--파일 열기 기능 추가-->
                    <button class="edit"> <!--파일 수정 기능 추가-->
                        <img  src="{{ url_for('static', filename='src/edit.png') }}">
                    </button>
                    <button class="delete"> <!--파일 삭제 기능 추가-->
                        <img  src="{{ url_for('static', filename='src/delete.png') }}">
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}