<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Job Helper.</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>

<body>
    <!--상단바-->
    <header class="header">
        <div class="logo">
            <a onclick="window.location.href='/'">Job Helper.</a>
        </div>
        <div class="search">
            <form>
                <img src="{{ url_for('static', filename= 'src/search.png')}}">
                <input type="text" placeholder="Need any help?"> <!--검색 기능 추가-->
            </form>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename= 'src/profile.png')}}">
            <a>김제니</a>
        </div>
    </header>
    <div class="container">
        <!--이력서/지원기업 선택탭-->
        <div class="navigation">
            <button class="resume"> <!--이력서 이동 링크 추가-->
                <img src="{{ url_for('static', filename= 'src/resume1.png')}}">
                <a onclick="window.location.href='/'">이력서</a>
            </button>
            <button class="company"> <!--지원 기업 이동 링크 추가-->
                <img src="{{ url_for('static', filename= 'src/company1.png')}}">
                <a onclick="window.location.href='/company'">지원 기업</a>
            </button>
        </div>
        <!--작성화면-->
        {% block content %}{% endblock %}
     </div>
</body>

